@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: Comic Neue; 
}

.wrapper {
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameBoard {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

.gameSquare {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.playedX {
    font-size: 125px;
}